<%= form_tag root_path, method: :get, id: 'stock-lookup-form' do |f| %>
<div class="form-group row no-padding text-center col-md-12">
  <div class="col-md-10">
    <%= text_field_tag :shelters, params[:shelters], placeholder: 'Search shelters by putting in your address', autofocus: true, class: 'form-control search-box input-lg' %>
  </div>
  <div class="col-md-2">
    <%= submit_tag 'Search', class: "btn btn-lg btn-warning" %>
  </div>
</div>
<% end %>
