<div class="container" id="pixil">
  <div class="row">
    <div class="col-lg-12">
        <h1 class="tagline" style="font-family: 'Mitr';">Pawzie <i class="fa fa-paw fa-lg" aria-hidden="true"></i></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 style="font-family: 'Mitr';">Connect with Pet Owners and Pets Around You</h2>
      <p>
        <i class="fa fa-connectdevelop fa-lg" aria-hidden="true"></i> Meet up with ther Pet owners at local dog parks
      </p>
      <br>
      <p>
        <i class="fa fa-camera fa-lg" aria-hidden="true"></i> See Photos and Updates from About Pets in News Feed
      </p>
      <p>
        <i class="fa fa-paw fa-lg" aria-hidden="true"></i> Show off your pet to others and Connect
      </p>
      <p>
        <%= link_to "Start Connecting!", signup_path, class: "btn btn-success btn-lg"%>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <p style="text-align: center; font-size: 2em;">Search Near Pet Adoption Centers</p>
  
</div>
<div id="map">

</div>
<div>

</div>
