<br>
<h2 style="text-align:center">Dog Parks Nearby</h2>
<div id="map">

</div>

  <br>

<div class="container">
  <div class="col-md-12">
    <h2 style="text-align:center;">Local Pet Owners Near You!</h2>
  </div>
</div>
<br>
<div class="container" id="nearbyUsers">
  <div class="row">
    <% @nearby.each do |user| %>
      <% if user.pets.count >= 1 %>
          <div class="col-md-4">
            <%= image_tag user.pets.first.image.url(:medium), class: "img-circle img-responsive img-center", id: 'pet-pic' %>
            <br>
            <div id="nearbyPic">
              <%#= image_tag user.image.url(:thumb), class: "img-circle img-responsive img-center", id: 'pet-pic' %>
            </div>
            <h2 id="nearby-name"><%= link_to "#{user.name}", user, id: "nearme" %></h2>
            <p id="nearbyPlace">
              <i class="fa fa-map-marker" aria-hidden="true"></i> <%= user.distance.round(2) %>m. <%= "#{user.city}, #{user.state}" %>
            </p>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
