// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pixil {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('dog.jpeg') center center no-repeat scroll;
  width: 100%;
  height: 400px;
  background-size: cover;
}

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

#map {
  width: 75%;
  margin-left: 11%;
  height: 400px;
}

#user-pic {
  width: 105px;
}

#nearbyPic {
  padding-left: 27%;
}

#nearbyPlace {
  text-align:center;
  padding-right: 15%;
}

#nearby-name {
  padding-right: 15%;
  text-align:center;
}

#nearme {
  text-decoration: none;
}
