// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-id-pic {
  height: 232px;
}

#pet-thingy {
  padding-left: 14%;
}

#insta-pet {
  padding-left: 8%;
}

#pet-name {
  font-size: 30px;
}
